*.DS_Store

cmake-build-*/

build/
.docker_image_built
*.egg-info/

# Windows
win/
.dll

# Python
.pyd
__pycache__/

# docs
_htmresc/

# board-specific OpenOCD config that shouldn't be tracked
# copy-pasted from utils/debug/my_board.cfg.template
utils/debug/my_board.cfg

utils/ota/enc-ec256-priv.pem
utils/ota/enc-ec256-pub.pem
utils/ota/root-ec-p256.pem
