# Build artifacts
cmake-build-*/

CMakeCache.txt
CMakeFiles/
app_version.conf

# handled by west
sec_board/

build/
twister-out/
.docker_image_built
*.egg-info/

# Windows
win/
.dll

# macOS
*.DS_Store

# Python
.pyd
__pycache__/

# docs
_htmresc/

# Local config files

## Environement
.envrc

## board-specific OpenOCD config that shouldn't be tracked
## copy-pasted from utils/debug/my_board.cfg.template
utils/debug/*.cfg

## Keys
utils/ota/enc-ec256-priv.pem
utils/ota/enc-ec256-pub.pem
utils/ota/root-ec-p256.pem

## Indexers
cscope.*

## Debugging
.gdb_history
