[submodule "external/nanopb"]
	path = external/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "external/microcontroller-messaging-proto"]
	path = external/microcontroller-messaging-proto
	url = ../../microcontroller/microcontroller-messaging-proto.git
[submodule "external/freertos"]
	path = external/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
