mainmenu "Application configuration"

comment "App-specific configuration options"

# Shared libraries used on Orb
config ORB_MCU_LIBRARIES_LIB
    default y
    bool "Import Orb libraries"

config ORB_PROTOBUF_DEFINITIONS_LIB
    default y
    bool "Import Orb Protobuf definitions"
    select NANOPB

source "Kconfig.zephyr"