# STM32G474RE main MCU board configuration

config SPI_STM32_INTERRUPT
	default y
	depends on SPI

if BOARD_MCU_MAIN_V30

config BOARD
	default "mcu_main_v30"

endif

if BOARD_MCU_MAIN_V31

config BOARD
	default "mcu_main_v31"

endif
