/dts-v1/;

#include "mcu_main_common.dts"

/ {
    zephyr,user {
        level-shifter-enable-gpios = <&gpioe 7 GPIO_ACTIVE_HIGH>;
    };

    supply_5v {
        enable-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
    };

    supply_pvcc {
        enable-gpios = <&gpioe 6 GPIO_ACTIVE_HIGH>;
    };

    supply_super_cap {
        enable-gpios = <&gpioe 4 GPIO_ACTIVE_HIGH>;
    };

    jetson_power_pins {
        power_enable {
            gpios = <&gpioe 12 GPIO_ACTIVE_HIGH>;
        };

        sleep_wake {
            gpios = <&gpioe 9 GPIO_ACTIVE_LOW>;
        };
    };

    fan_main {
        compatible = "pwm-fan";
        pwms = <&fan_main_pwm 1 10000 PWM_POLARITY_NORMAL>;
    };
};

&timers1 {
    status = "okay";

    led_740nm: led_740nm {
        compatible = "worldcoin,stm32-pwm";
        pinctrl-0 = <&tim1_ch2n_pb0>;
        pinctrl-names = "default";
        channels = <2>;
    };
};

&timers3 {
    status = "okay";

    led_940nm: led_940nm {
        compatible = "worldcoin,stm32-pwm";
        pinctrl-0 = <&tim3_ch1_pe2 &tim3_ch4_pe5>;
        pinctrl-names = "default";
        channels = <1 4>;
    };
};

&timers5 {
    status = "okay";

    fan_main_pwm: pwm {
        status = "okay";
        pinctrl-0 = <&tim5_ch1_pb2>;
        pinctrl-names = "default";
    };
};

&timers8 {
    status = "okay";

    // AKA CAM0
    ir_eye_camera_trigger: ir_eye_camera_trigger {
        compatible = "worldcoin,stm32-pwm";
        pinctrl-0 = <&tim8_ch3_pc8>;
        pinctrl-names = "default";
        channels = <3>;
    };

    // AKA CAM2
    ir_face_camera_trigger: ir_face_camera_trigger {
        compatible = "worldcoin,stm32-pwm";
        pinctrl-0 = <&tim8_ch4_pc9>;
        pinctrl-names = "default";
        channels = <4>;
    };

    // AKA CAM3
    tof_2d_camera_trigger: tof_2d_camera_trigger {
        compatible = "worldcoin,stm32-pwm";
        pinctrl-0 = <&tim8_ch1_pc6>;
        pinctrl-names = "default";
        channels = <1>;
    };
};

&timers15 {
    status = "okay";

    led_850nm: led_850nm {
        compatible = "worldcoin,stm32-pwm";
        pinctrl-0 = <&tim15_ch1_pb14 &tim15_ch2_pb15>;
        pinctrl-names = "default";
        channels = <1 2>;
    };
};

&i2c1 {
    main_board_tmp_sensor: tmp112@49 {
        compatible = "ti,tmp112";
        reg = <0x49>;
        label = "MAIN_BOARD_TEMP_SENSOR";
    };
};
