mainmenu "Application configuration"

config ORB_PROTOBUF_DEFINITIONS_LIB
    default y
    bool "Orb Protobuf definitions"
    depends on NANOPB

# Shared libraries used on Orb
config ORB_MCU_LIBRARIES_LIB
    default y
    bool "Orb shared components"

if ORB_MCU_LIBRARIES_LIB
source "../orb/Kconfig"
endif

source "Kconfig.zephyr"
