menu "Main MCU Options"

menu "Log levels"
rsource "log_levels.Kconfig"
endmenu

comment "Developer options"

config INSTA_BOOT
    bool "Boot right away without waiting for a button press"

config NO_JETSON_BOOT
    bool "Do not boot the Jetson"

config NO_SUPER_CAPS
    bool "Do not turn on super capacitor charging"

config MCU_DEVEL
    bool "Enable all developer options"
    select INSTA_BOOT
    select NO_JETSON_BOOT
    select NO_SUPER_CAPS

comment "Integration tests"

config TEST_MIRRORS
    bool "Test the mirrors control"

config TEST_DFU
    bool "Test device firmware upgrade"

config TEST_OPERATOR_LEDS
    bool "Test operator LEDs"

config TEST_USER_LEDS
    bool "Test user/front LEDs"
    help
      Tests all the user LED patterns. Visual inspection is needed to check
      for correct pattern implementation.

config TEST_IR_CAMERA_SYSTEM
    bool "Test the IR camera system"
    help
      The IR/Camera test has to be verified using a scope
      or logic analyzer.

config TEST_FAN
    bool "Test fan"

config TEST_GNSS
	bool "Test GNSS frame parsing"

config APP_TESTS_ALL
    bool "Enable all integration tests"
    select TEST_MIRRORS
    select TEST_DFU
    select TEST_OPERATOR_LEDS
    select TEST_USER_LEDS
    select TEST_IR_CAMERA_SYSTEM
    select TEST_FAN
    select TEST_GNSS

config MCU_UTIL_UART_TESTS
	bool "Send specific string in logs when testing UART with mcu-util"
	help
	  UART communication is unidirectional and doesn't allow
	  the MCU to respond to the Jetson. To allow the Jetson to confirm
	  that the MCU is receiving its UART messages, this option configures
	  the MCU to emit a special log message when it successfully receives UART
	  communications from the Jetson. The Jetson can then look for this special
	  log message to confirm the UART channel to the MCU is working.

endmenu

menu "Zephyr Options"
source "Kconfig.zephyr"
endmenu
