menu "Log Levels"
rsource "can_messaging/log_levels.Kconfig"
rsource "uart_messaging/log_levels.Kconfig"
rsource "dfu/log_levels.Kconfig"
rsource "health_monitoring/log_levels.Kconfig"
rsource "i2c_scan/log_levels.Kconfig"
rsource "log_backend_can/log_levels.Kconfig"
rsource "errors/log_levels.Kconfig"
rsource "storage/log_levels.Kconfig"
rsource "watchdog/log_levels.Kconfig"
endmenu

rsource "can_messaging/Kconfig"
rsource "uart_messaging/Kconfig"
rsource "log_backend_can/Kconfig"
rsource "errors/Kconfig"
rsource "dfu/Kconfig"
rsource "storage/Kconfig"
rsource "watchdog/Kconfig"
rsource "health_monitoring/Kconfig"
rsource "i2c_scan/Kconfig"
