menuconfig ORB_LIB_CAN_MESSAGING
    bool "CAN messaging library"
    select ORB_LIB_ERRORS

if ORB_LIB_CAN_MESSAGING

config CAN_ADDRESS_MCU_TO_JETSON_TX
    hex "CAN address to send data to the Jetson"
    default 0x80

config CAN_ADDRESS_JETSON_TO_MCU_RX
    hex "CAN address to receive data from the Jetson"
    default 0x01 if (BOARD_PEARL_MAIN || BOARD_DIAMOND_MAIN)
    default 0x02 if (BOARD_PEARL_SECURITY || BOARD_DIAMOND_SECURITY)

config CAN_ADDRESS_MCU_TO_MCU_TX
    hex "CAN address to send data to other MCU"
    default 0x42 if CAN_ADDRESS_JETSON_TO_MCU_RX=0x01  # main MCU sends to 0x42
    default 0x41 if CAN_ADDRESS_JETSON_TO_MCU_RX=0x02  # sec MCU sends to 0x41

config CAN_ADDRESS_MCU_TO_MCU_RX
    hex "CAN address to receive MCU-to-MCU messages"
    default 0x41 if CAN_ADDRESS_JETSON_TO_MCU_RX=0x01  # main MCU receives on 0x41
    default 0x42 if CAN_ADDRESS_JETSON_TO_MCU_RX=0x02  # sec MCU receives on 0x42

config ORB_LIB_THREAD_PRIORITY_CANBUS_MONITOR
    int "CAN bus monitoring thread priority"
    default 5

config ORB_LIB_THREAD_STACK_SIZE_CANBUS_MONITOR
    int "Stack size for CAN monitoring thread"
    default 1024

config ORB_LIB_THREAD_PRIORITY_CANBUS_RX
    int "CAN bus RX thread priority"
    default 5

config ORB_LIB_THREAD_STACK_SIZE_CANBUS_RX
    int "Stack size for CAN RX thread"
    default 2048

config ORB_LIB_THREAD_PRIORITY_CANBUS_TX
    int "CAN bus TX thread priority"
    default 5

config ORB_LIB_THREAD_STACK_SIZE_CANBUS_TX
    int "Stack size for CAN TX thread"
    default 1024

config ORB_LIB_CANBUS_TX_QUEUE_SIZE
    int "CAN TX queue size"
    default 32

config ORB_LIB_THREAD_STACK_SIZE_CANBUS_ISOTP_RX
    int "Stack size for CAN ISO-TP RX thread"
    default 1700

config CAN_ISOTP_REMOTE_ID
    hex "4-bit ID used to build ISO-TP communication channel"
    default 0x8
    depends on ISOTP

config CAN_ISOTP_LOCAL_ID
    hex "4-bit ID used to build ISO-TP communication channel"
    default 0x1
    depends on ISOTP

config CAN_ISOTP_REMOTE_APP_COUNT
    int "Number of remote apps to bind to. Max is 7"
    range 0 7
    default 7
    depends on ISOTP

config CAN_ISOTP_MAX_SIZE_BYTES
    int "CAN ISO-TP message maximum size."
    default 1024
    range 1 4096
    depends on ISOTP
    help
        "An ISO-TP message can contain up to 4096 bytes but we might want to cap the value depending on application's constraints"

config ORB_LIB_CAN_ISOTP_TX_QUEUE_SIZE
    int "CAN TX queue size"
    default 16

config ORB_LIB_CAN_ISOTP_BLOCKSIZE
    int "ISO-TP block size, which is number of frames between each control flow frame"
    default 8

endif
