# I2C_MUX_GPIO gpio-based I2C bus multiplexer

config I2C_MUX_GPIO
    bool "I2C_MUX_GPIO gpio-based I2C bus multiplexer"
    depends on I2C
    help
        Enable driver for gpio-based I2C bus multiplexer.

config I2C_MUX_GPIO_INIT_PRIO
    int "I2C_MUX_GPIO init priority"
    depends on I2C_MUX_GPIO
    default 65

config I2C_MUX_GPIO_CHANNEL_INIT_PRIO
    int "I2C_MUX_GPIO init priority"
    depends on I2C_MUX_GPIO
    default 66
