config ORB_LIB_DFU
    bool "Device firmware upgrade library"

if ORB_LIB_DFU

config ORB_LIB_THREAD_PRIORITY_DFU
    int "Block processing thread priority, including Flash operations"
    default 10

config ORB_LIB_THREAD_STACK_SIZE_DFU
    int "Stack size for block processing thread"
    default 1024

endif
