config ORB_LIB_WATCHDOG
    bool "Watchdog library"
    depends on WATCHDOG

if ORB_LIB_WATCHDOG

config ORB_LIB_THREAD_PRIORITY_WATCHDOG
    int "Watchdog thread priority"
    default 10

config ORB_LIB_THREAD_STACK_SIZE_WATCHDOG
    int "Stack size for the watchdog thread"
    default 512

config ORB_LIB_WATCHDOG_TESTS
    bool "Include watchdog tests"

endif
