config ORB_LIB_WATCHDOG
    bool "Watchdog library"
    select WDT_DISABLE_AT_BOOT
    depends on WATCHDOG

if ORB_LIB_WATCHDOG

config ORB_LIB_WATCHDOG_SYS_INIT
    bool "Initialize watchdog in sys_init, when disabled (default) `watchdog_init()` must be explicitly called"
    default n

if ORB_LIB_WATCHDOG_SYS_INIT

config ORB_LIB_WATCHDOG_INIT_PRIORITY
    int "Watchdog initialization priority"
    default 51 # KERNEL_INIT_PRIORITY_DEVICE + 1

endif

config ORB_LIB_THREAD_PRIORITY_WATCHDOG
    int "Watchdog thread priority"
    default 10

config ORB_LIB_THREAD_STACK_SIZE_WATCHDOG
    int "Stack size for the watchdog thread"
    default 512

config ORB_LIB_WATCHDOG_TIMEOUT_MS
	int "Watchdog timeout"
	default 1000

config ORB_LIB_WATCHDOG_RELOAD_MS
	int "Watchdog reload interval"
	default 200

config ORB_LIB_WATCHDOG_TESTS
    bool "Include watchdog tests"

endif
