# SPDX-License-Identifier: Apache-2.0
CONFIG_BOARD_DIAMOND_MAIN=y

CONFIG_SOC_SERIES_STM32G4X=y
CONFIG_SOC_STM32G474XX=y

# enable uart driver
CONFIG_SERIAL=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_GPIO_PCA95XX=y
# make sure I2C3 device is initialized before GPIO expanders
CONFIG_I2C_INIT_PRIO_INST_1=50
CONFIG_GPIO_PCA95XX_INIT_PRIORITY=51

# Enable Clocks
CONFIG_CLOCK_CONTROL=y

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y
