config ORB_LIB_ERRORS
    bool "Custom Orb errors library"
    select ORB_LIB_WATCHDOG

if ORB_LIB_ERRORS

config ORB_LIB_ERRORS_APP_ASSERT
    bool "Use assertions"
    default y
    help
        Enable assertions. Hard assertions are for fatal errors and make the system reset. Soft assertions are for recoverable errors.

config ORB_LIB_ERRORS_TESTS
    bool "Provide fatal errors examples"
    select TEST
    select IRQ_OFFLOAD
    select ASSERT
    depends on ORB_LIB_ERRORS_APP_ASSERT
    help
        Allows for testing fatal errors and assert

endif
