config SPI_RGB_LED
    bool "RGB LED strip driver using SPI"
    depends on SPI
    select LED_STRIP_RGB_SCRATCH
	help
	  Enable LED strip driver for daisy chains of SPI-ish devices.
	  2-wire SPI is supported.

config SPI_RGB_LED_DIMMING
    bool "Enable dimming support per LED"
    depends on SPI_RGB_LED && LED_STRIP_RGB_SCRATCH
    help
      Enable dimming support for SPI RGB LED strips.

config SPI_RGB_LED_BUFFER_SIZE
    int "Size of SPI RGB LED buffer"
    depends on SPI_RGB_LED
    default 396
    help
      Size of the SPI RGB LED buffer in bytes. This is the maximum
      number of bytes that can be sent to the LED strip in one go.
      This buffer is used so that the original LED buffer is not
      modified. The buffer size must be a multiple of the size of
      struct led_rgb.
