menuconfig LED_STRIP
    bool "LED strip drivers"
    help
        Include LED strip drivers in the system configuration.

if LED_STRIP

rsource "Kconfig.ws2812_pwm_stm32"
rsource "Kconfig.spi_rgb_led"

endif
